@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body{
  background: black;
  overflow-x: hidden !important ;
}

.phone{
  margin-top: 100px;
}
.active {
  color: blue;
}

.debts .lend .active i {
  background: red !important;
}
.debts .lend .active p,.debts .borrow .active p {
  color: rgb(65, 64, 64) !important;
}
.debts .borrow .active i {
  background: rgb(7, 197, 7) !important;
}
.transactions .income .active i {
  background: rgb(7, 197, 7) !important;
}
.transactions .income .active p{
  color: rgb(65, 64, 64) !important;
}
.transactions .expenses .active p {
  color: rgb(65, 64, 64) !important;
}
.transactions .expenses .active i {
  background: red !important;

}

.tab__list{
  background: #fff;
  box-shadow: 0px 5px 30px -16px rgba(34, 60, 80, 0.6);
}

.bg_border{
  animation-name: bg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.overflow-hidden{
  overflow-y: scroll;
}

@keyframes bg {
  0%{
    background: red;
  }
  25%{
    background:  green;
  }
  50%{
    background: orange;
  }
  75%{
    background:  blue;
  }
  100%{
    background: red;
  }
}


.add {
  display: none;
}
.show {
  display: block;
}

.cards::-webkit-scrollbar {
  display: none;
}


.trExpenses,
.trIncome,
.dbBorrow,
.dbLend {
  transform: scale(0);
  animation-name: showIcon;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes showIcon {
  0% {
    transform: scale(0) rotate(90deg);
  }
  25% {
    transform: scale(0.25) rotate(180deg);
  }
  50% {
    transform: scale(0.5) rotate(270deg);
  }
  75% {
    transform: scale(0.75) rotate(360deg);
  }
  100% {
    transform: scale(1);
  }
}